<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict Value</title>
</head>
<body>
<form method="post" >
    <div class="form-group" >
        <label >Postcode</label>
        <input type="text" name="postcode"
               class="form-control"
               ></input>
    </div>

    <div class="form-group" name = "PAON">
        <label >PAON</label>
        <input type="text" name="paon"
               class="form-control"
               ></input>
    </div>

    <div class="form-group" name = "Town/City">
        <label >PAON</label>
        <input type="text" name="town"
               class="form-control"
               ></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>