<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict Value</title>
</head>
<body>
<form method="post">
    <div class="form-group">
        <label for="title">Postcode</label>
        <input type="text" name="title"
               class="form-control"
               ></input>
    </div>

    <div class="form-group">
        <label for="content">PAON</label>
        <input type="text" name="title"
               class="form-control"
               ></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>